[submodule "ModernRenderer/3rdparty/imgui"]
	path = ModernRenderer/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ModernRenderer/3rdparty/FlyCube"]
	path = ModernRenderer/3rdparty/FlyCube
	url = https://github.com/andrejnau/FlyCube
